body {
  min-height: 800px;
  width: 100%;
  margin: 0px;
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 590;
  text-align: center;
  background-size: cover;
}
.tool_bar {
  background-color: darkgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  z-index: 1000;
  font-size: 30px;
}
#main_container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}
.list_item {
  border-radius: 10px;
  display: grid;
  border-style: solid;
  grid-template-columns: 1fr 3fr 2fr;
  margin-bottom: 5px;
}
.day_info {
  font-weight: 590;
  background-color: #b31b7d;
  padding-top: 15px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.date_info {
  background-color: #24db63;
}
.date_info p {
  margin: 0;
}
.rep_set_info {
  display: grid;
  grid-template-columns: 50% 50%;
}
.rep_set_info p {
  margin: 0;
}
.reps {
  background-color: #26d1fc;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.sets {
  background-color: #ff4618;
}
.popup_container_shade {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.329);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  top: 0;
}
.popup_container {
  position: relative;
  width: 300px;
  height: 300px;
  border-style: solid;
  top: 35%;
  bottom: 50%;
  background-color: rgb(231, 228, 243);
  border-radius: 10px;
}
.popup_value_input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
  grid-gap: 5px;
  margin-bottom: 10px;
}
.popup_value_input button {
  height: 40px;
  border-radius: 5px;
  font-size: larger;
  font-weight: bolder;
  border: none;
}
.popup_reps_input {
  display: flex;
  margin-bottom: 10px;
}
.popup_reps_input div {
  display: flex;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.popup_reps_input div img {
  object-fit: fill;
  align-self: center;
  height: 35px;
  width: 35px;
}
.popup_sets_input {
  display: flex;
  margin-bottom: 10px;
}
.popup_sets_input div {
  display: flex;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.popup_sets_input div img {
  object-fit: fill;
  align-self: center;
  height: 35px;
  width: 35px;
}
.popup_info_header {
  padding: 10px;
}
.zero_submit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.zero_submit button {
  border-radius: 5px;
  height: 40px;
  border: none;
}
.closeIcon {
  position: absolute;
  width: 45px;
  height: 45px;
  top: -13px;
  right: -15px;
}
.closeIcon img {
  object-fit: fill;
  width: 100%;
}
.submit {
  background-color: #00d3ff;
}
#setArrow_inc {
  background-color: #2cd3c8;
}
#setArrow_dec {
  background-color: #d32c37;
}
#repArrow_inc {
  background-color: #2cd3c8;
}
#repArrow_dec {
  background-color: #d32c37;
}
.zero_out {
  background-color: #ff2c00;
}
